/* $Id$ */
.l10n-community-marker {
  font-weight: bold;
}

.l10n-community-progress {
  height: 1em;
  border: 1px solid #cdcdcd;
  padding: 2px;
  background-color: #f5f5f5;
}
.l10n-community-progress-translated {
  background-color: #69b123;
  height: 1em;
  float: left;
}
.l10n-community-progress-untranslated {
  background-color: #b93131;
  height: 1em;
  float: left;
}
.l10n-community-progress-suggested {
  background-color: #6a4970;
  height: 1em;
  float: left;
}

table#l10n-community-overview td, table#l10n-community-overview thead th {
  text-align: center;
}
table#l10n-community-overview td.language, table#l10n-community-overview thead th.language {
  text-align: right;
}

#l10n-community-home {
  margin-top: 2em;
}

#l10n-community-translate-form .pager {
  margin-bottom: 1em;
}
#l10n-community-translate-form fieldset {
  margin: 0 0 1em 0;
  padding: 0.5em;
}
#l10n-community-translate-form .form-item {
  margin-top: 0.5em;
}
#l10n-community-translate-form .translation {
  border-top: 2px dotted #cdcdcd;
  padding-top: 0.5em;
}
#l10n-community-translate-form .toolbox {
  border-bottom: 1px solid #cdcdcd;
  margin-bottom: 0.3em;
}
#l10n-community-translate-form .toolbox img {
  padding-right: 0.4em;
  cursor: pointer;
}
#l10n-community-translate-form .toolbox .suggestions {
  background-image: url('images/suggestions.png');
  width: 16px;
  height: 16px;
  display: block; 
  margin-right: 0.3em;
  float: left;
}
#l10n-community-translate-form img.copy {
  cursor: pointer;
}

#l10n-community-translate-form .info-pane {
  padding: 0.5em;
  border-top: 3px double #f5f5f5;
  display: none;
}
#l10n-community-translate-form .info-pane .item-list ul li {
  background: none;
  padding: 0 0 0.2em 1em;
}

#l10n-community-filter {
  margin: 1em 0;
}
#l10n-community-filter fieldset {
  text-align: center;
}
