/* $Id$ */
#l10n-community-result {
  text-align: center;
}
#l10n-community-result label {
  display: inline;
}
.l10n-community-suggestion {
  background-color: #369;
}

.l10n-community-marker {
  font-weight: bold;
}

.l10n-community-progress {
  height: 1em;
  border: 1px solid #cdcdcd;
  padding: 2px;
  background-color: #f5f5f5;
}
.l10n-community-progress-translated {
  background-color: #69b123;
  height: 1em;
  float: left;
}
.l10n-community-progress-untranslated {
  background-color: #b93131;
  height: 1em;
  float: left;
}
.l10n-community-progress-suggested {
  background-color: #6a4970;
  height: 1em;
  float: left;
}


table#l10n-community-overview td, table#l10n-community-overview thead th {
  text-align: center;
}
table#l10n-community-overview td.language, table#l10n-community-overview thead th.language {
  text-align: right;
}

#l10n-community-home {
  margin-top: 2em;
}

#l10n-community-translate-form .pager {
  margin-bottom: 1em;
}
#l10n-community-translate-form fieldset {
  margin: 0 0 1em 0;
  padding: 0.5em;
}
#l10n-community-translate-form .form-item {
  margin-top: 0.5em;
}