/* $Id$ */

/* Welcome page */
#l10n-community-welcome {
  margin-top: 2em;
}

/* Overview navigation tables for projects and languages */
#l10n-community-overview td, #l10n-community-overview thead th {
  text-align: center;
}
#l10n-community-overview td.rowhead, #l10n-community-overview thead th.rowhead {
  text-align: right;
}
.l10n-community-progress {
  height: 1em;
  border: 1px solid #cdcdcd;
  padding: 2px;
  background-color: #f5f5f5;
}
.l10n-community-progress-translated,
.l10n-community-progress-untranslated {
  background-color: #69b123;
  height: 1em;
  float: left;
}
.l10n-community-progress-untranslated {
  background-color: #b93131;
}
#l10n-community-status-projects-jump-form div {
  text-align: center;
}
#l10n-community-status-projects-jump-form .form-text {
  width: 30em;
}

/* String search filtering form */
#l10n-community-filter-form {
  margin: 1em 0;
}
#l10n-community-filter-form fieldset {
  text-align: center;
}
#l10n-community-filter-form fieldset div, #l10n-community-filter-form fieldset label {
  display: inline;
}

/* Emphasized replaceable parts of translatables */
em.l10n-community-marker {
  font-weight: bold;
}

/* Translation display on the view page */
#l10n-community-translate-view .translation,
#l10n-community-translate-form .translation {
  border-top: 2px dotted #cdcdcd;
  padding-top: 0.5em;
  color: brown;
}

/* Translation editor styles */
#l10n-community-translate-form .pager {
  margin-bottom: 1em;
}
#l10n-community-translate-form fieldset {
  margin: 0 0 1em 0;
  padding: 0.5em;
}
#l10n-community-translate-form .form-item {
  margin-top: 0.5em;
}
#l10n-community-translate-form .translation {
  border-top: 2px dotted #cdcdcd;
  padding-top: 0.5em;
}
#l10n-community-translate-form .toolbox {
  border-bottom: 1px solid #cdcdcd;
  margin-bottom: 0.3em;
}
#l10n-community-translate-form .toolbox img {
  padding-right: 0.4em;
  cursor: pointer;
}
#l10n-community-translate-form .toolbox .has-suggestion {
  background-image: url('images/suggestions.png');
  width: 16px;
  height: 16px;
  display: block; 
  margin-right: 0.3em;
  float: left;
}
#l10n-community-translate-form img.action {
  cursor: pointer;
}
#l10n-community-translate-form .info-pane {
  padding: 0.5em;
  border-top: 3px double #f5f5f5;
  display: none;
}
#l10n-community-translate-form .info-pane .item-list ul li {
  background: none;
  padding: 0 0 0.2em 1em;
}
