/* $Id$ */

div.admin .admin-panel-contribute {
  background: #ffb;
  margin-bottom: 2em;
  padding-bottom: 0.3em;
}
table.l10n-community-overview {
  width: 45%;
  margin-left: 1em;
  float: left;
}
table.l10n-community-overview td {
  vertical-align: middle;
}
div.admin table.l10n-community-overview {
  width: auto;
}
div.admin .form-submit {
  margin-top: 0;
}
div.admin form {
  margin-bottom: 0 !important;
}

/* Overview navigation tables for projects and languages */
.l10n-community-overview td, .l10n-community-overview thead th {
  text-align: center;
}
.l10n-community-overview td.rowhead, .l10n-community-overview thead th.rowhead {
  text-align: left;
}
.l10n-community-progress {
  height: 1em;
  border: 1px solid #adadad;
  padding: 2px;
  background-color: #f5f5f5;
}
.l10n-community-progress-translated,
.l10n-community-progress-untranslated {
  background-color: #69b123;
  height: 1em;
  float: left;
}
.l10n-community-progress-untranslated {
  background-color: #bdbdbd;
}

/* String search filtering form */
#l10n-community-filter-form,
#l10n-community-moderate-filter-form {
  white-space:nowrap;
}
table.l10n-server-filter {
  width: 100%;
}
table.l10n-server-filter td.last {
  text-align: right;
}

/* Emphasized replaceable parts of translatables */
em.l10n-community-marker {
  font-weight: bold;
}
