/* $Id$ */

div.admin .admin-panel-contribute {
  background: #ffb;
  margin-bottom: 2em;
  padding-bottom: 0.3em;
}
table#l10n-community-overview {
  width: 45%;
  margin-left: 1em;
  float: left;
}
table#l10n-community-overview td {
  vertical-align: middle;
}
div.admin table#l10n-community-overview {
  width: auto;
}
div.admin .form-submit {
  margin-top: 0;
}
div.admin form {
  margin-bottom: 0 !important;
}

/* Overview navigation tables for projects and languages */
#l10n-community-overview td, #l10n-community-overview thead th {
  text-align: center;
}
#l10n-community-overview td.rowhead, #l10n-community-overview thead th.rowhead {
  text-align: left;
}
.l10n-community-progress {
  height: 1em;
  border: 1px solid #adadad;
  padding: 2px;
  background-color: #f5f5f5;
}
.l10n-community-progress-translated,
.l10n-community-progress-untranslated {
  background-color: #69b123;
  height: 1em;
  float: left;
}
.l10n-community-progress-untranslated {
  background-color: #bdbdbd;
}

/* String search filtering form */
#l10n-community-filter-form {
  margin: 1em 0;
  position: relative;
}
#l10n-community-filter-form a {
  position: absolute;
  top: 1em;
  right: 1em;
  /*float: right;*/
}
#l10n-community-filter-form fieldset {
  text-align: center;
}
#l10n-community-filter-form fieldset div, #l10n-community-filter-form fieldset label {
  display: inline;
  line-height: 2.5em;
}
#l10n-community-filter-form .form-text {
  width: 200px !important; 
}

/* Emphasized replaceable parts of translatables */
em.l10n-community-marker {
  font-weight: bold;
}

/* Translation display on the view page */
#l10n-community-translate-view .l10n-community-string,
#l10n-community-translate-view .pager {
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 0.8em;
  padding-bottom: 0.8em;
}
#l10n-community-translate-view .pager-bottom {
  border-bottom: none;
}

#l10n-community-translate-view .translation,
#l10n-community-translate-form .translation {
  border-top: 2px dotted #cdcdcd;
  padding-top: 0.5em;
  color: brown;
}

/* Translation editor styles */
#l10n-community-translate-form .pager {
  margin-bottom: 1em;
}
#l10n-community-translate-form fieldset {
  margin: 0 0 1em 0;
  padding: 0.5em;
}
#l10n-community-translate-form .form-item {
  margin-top: 0.5em;
}
#l10n-community-translate-form .translation {
  border-top: 2px dotted #cdcdcd;
  padding-top: 0.5em;
}
#l10n-community-translate-form .toolbox {
  border-bottom: 1px solid #cdcdcd;
  margin-bottom: 0.3em;
}
#l10n-community-translate-form .toolbox img {
  padding-right: 0.4em;
  cursor: pointer;
}
#l10n-community-translate-form .toolbox .has-suggestion {
  background-image: url('images/suggestions.png');
  width: 16px;
  height: 16px;
  display: block; 
  margin-right: 0.3em;
  float: left;
}
#l10n-community-translate-form img.action {
  cursor: pointer;
}
#l10n-community-translate-form .info-pane {
  padding: 0.5em;
  border-top: 3px double #f5f5f5;
  display: none;
}
#l10n-community-translate-form .info-pane .item-list ul li {
  background: none;
  padding: 0 0 0.2em 1em;
}
