/* $Id$ */

div.admin .admin-panel-contribute {
  background: #ffb;
  margin-bottom: 2em;
  padding-bottom: 0.3em;
  position: relative;
}
table.l10n-community-overview {
  width: 45%;
  margin-left: 1em;
  float: left;
}
table.l10n-community-overview td {
  vertical-align: middle;
}
div.admin table.l10n-community-overview {
  width: auto;
}
div.admin .form-submit {
  margin-top: 0;
}
div.admin form {
  margin-bottom: 0 !important;
}
div.admin .l10n-join-group {
  text-align: center;
  font-weight: bold;
  font-size: 1.3em;
  position: absolute;
  top: 0.8em;
  right: 0.6em;
}
div.admin .l10n-join-group a {
  padding: 0.3em;
}

/* Overview navigation tables for projects and languages */
.l10n-community-overview td, .l10n-community-overview thead th {
  text-align: center;
}
.l10n-community-overview td.rowhead, .l10n-community-overview thead th.rowhead {
  text-align: left;
}
.l10n-community-progress {
  height: 1em;
  border: 1px solid #adadad;
  padding: 2px;
  background-color: #f5f5f5;
}
.l10n-community-progress-translated,
.l10n-community-progress-untranslated {
  background-color: #69b123;
  height: 1em;
  float: left;
}
.l10n-community-progress-untranslated {
  background-color: #bdbdbd;
}

/* String search filtering form */
.l10n-server-filter {
  background-color: #f5f5f5;
  padding: 0.6em 150px 1.5em 0.6em;
  position: relative;
}
.l10n-server-filter .filter-widget {
  float: left; 
  padding: 0 1em 0 0; 
  height: 6em;
}
.l10n-server-filter .filter-widget label {
  font-weight: bold;
  color: #003150;
}
.l10n-server-filter .filter-widget .form-item {
  margin-top: 0;
}
.l10n-server-filter .form-item#edit-status-translation-wrapper {
  margin-bottom: 0;
}
.l10n-server-filter .filter-submit .form-submit {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2em;
  margin: 0.5em;
  display: block;
}
.l10n-server-filter .filter-submit .reset-link {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 1em 0.5em 0;
}
.l10n-server-filter .reveal-link {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0 0 0.5em 1em;
}

/* Emphasized replaceable parts of translatables */
em.l10n-community-marker {
  font-weight: bold;
}
