/* $Id$ */

div.admin .admin-panel-contribute {
  background: #ffb;
  margin-bottom: 2em;
  padding-bottom: 0.3em;
}
table#l10n-community-overview {
  width: 45%;
  margin-left: 1em;
  float: left;
}
table#l10n-community-overview td {
  vertical-align: middle;
}
div.admin table#l10n-community-overview {
  width: auto;
}
div.admin .form-submit {
  margin-top: 0;
}
div.admin form {
  margin-bottom: 0 !important;
}

/* Overview navigation tables for projects and languages */
#l10n-community-overview td, #l10n-community-overview thead th {
  text-align: center;
}
#l10n-community-overview td.rowhead, #l10n-community-overview thead th.rowhead {
  text-align: left;
}
.l10n-community-progress {
  height: 1em;
  border: 1px solid #adadad;
  padding: 2px;
  background-color: #f5f5f5;
}
.l10n-community-progress-translated,
.l10n-community-progress-untranslated {
  background-color: #69b123;
  height: 1em;
  float: left;
}
.l10n-community-progress-untranslated {
  background-color: #bdbdbd;
}

/* String search filtering form */
#l10n-community-filter-form {
  margin: 1em 0;
  position: relative;
}
#l10n-community-filter-form a {
  position: absolute;
  top: 1em;
  right: 1em;
  /*float: right;*/
}
#l10n-community-filter-form fieldset {
  text-align: center;
}
#l10n-community-filter-form fieldset div, #l10n-community-filter-form fieldset label {
  display: inline;
  line-height: 2.5em;
}
#l10n-community-filter-form .form-text {
  width: 200px !important; 
}

/* Emphasized replaceable parts of translatables */
em.l10n-community-marker {
  font-weight: bold;
}

/* Translation display on the view page */
#l10n-community-translate-view .l10n-community-string,
#l10n-community-translate-view .pager {
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 0.8em;
  padding-bottom: 0.8em;
}
#l10n-community-translate-view .pager-bottom {
  border-bottom: none;
}

#l10n-community-translate-view .translation,
#l10n-community-translate-form .translation {
  border-top: 1px dotted #bdbdbd;
  padding-top: 0.5em;
  color: brown;
}

/* Translation editor styles */
#l10n-community-translate-form .pager {
  margin-bottom: 1em;
}
#l10n-community-translate-form fieldset {
  margin: 0 0 1em 0;
  padding: 0.5em;
}
#l10n-community-translate-form .form-item {
  margin-top: 0.5em;
}
#l10n-community-translate-form .toolbox {
  margin: 0 0 0.3em 0.0em;
  float: left;
}
#l10n-community-translate-form .messagebox {
  margin: 0 0 0.3em 0.3em;
  float: right;
}
#l10n-community-translate-form .info-pane {
  padding: 0.5em;
  border-top: 3px double #f5f5f5;
  display: none;
}
#l10n-community-translate-form .info-pane .item-list ul li {
  background: none;
  padding: 0 0 0.2em 1em;
}


.l10n-button {
  line-height: 1.8em;
  padding-right: 5px;
  margin: 0 0 3px;
  cursor: pointer;
}
#l10n-community-overview .l10n-button {
  padding-right: 0;
  cursor: default;
}
.l10n-button b {
  background-color: #3A79AA;
  border-color: #3A79AA;
  color: #fff;
  font-weight: normal;

  border-style: solid;
  border-width: 1px 0;
  margin: 0 1px;
  padding: 0;
}
.l10n-button b b {
  background: transparent none;
  border-width: 0 1px;
  margin: 0 -1px;
  padding: 0;
  /* Let these be specified above */
  color: inherit;
  font-weight: inherit;
}
.l10n-button b b b {
  border-width: 0;
  margin: 0;
  padding: 1px 5px;
  /* Let these be specified above */
  color: inherit;
  font-weight: inherit;
}
.l10n-button.approve b {
  background-color: #009966;
  border-color: #009966;
  color: #fff;
  font-weight: normal;
}
.l10n-button.l10n-has-suggestion b {
  background-color: orange;
  border-color: orange;
  cursor: default;
}

.l10n-button.l10n-untranslated b,
.l10n-button.decline b {
  background-color: #890F01;
  border-color: #890F01;
}
.l10n-button.disabled b,
.l10n-button.l10n-has-no-suggestion b {
  background-color: #cdcdcd;
  border-color: #cdcdcd;
  color: #000;
  cursor: default;
}
