/* $Id$ */

#l10n-packager-download-project-form {
  margin-bottom: 2em;
}
#l10n-packager-download-project-form #edit-project-wrapper {
  display: inline;
}

.l10n-packager-table td {
  font-size: 0.9em;
}
.l10n-packager-table td.rowhead {
  font-weight: bold;
}
.l10n-packager-table .package-highlight {
  font-size: 1.2em;
  font-weight: bold;
}
